.custom-btn {
    background-color: orange;
    color: rgb(7, 83, 41);
    display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 20px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 0.5rem;
    width: 2rem;
  }
  
  .custom-btn:hover {
    background-color: rgb(5, 94, 74);
    color:orange;
  }

  .custom-brdr {
    border: 2px solid #fff3cd;
    border-radius: 20%;
    padding: 10px;
    margin-top: 50px;
    margin-right: 50px;
  }

  .custom-fixed {
    position: fixed;
    top: 27%;
    z-index: 2;
  }

  .custom-select-location {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 1rem;
  }