.rentals {
    margin-left: 20rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.rentals ul li {
    margin-bottom: 10px;
}

.my-rentals-title{
    margin-bottom: 50px;
}