.admin-sidebar {
    width: 250px;
    height: 100vh;
    background-color: #F8F9FA;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

.admin-links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

.admin-links a:hover {
    color: #007bff;
}

.admin-content {
    margin-left: 270px; 
    padding: 20px;
}